@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

.py-1 {padding: 1rem 0}
.py-2 {padding: 2.5rem 0}
.py-3 {padding: 3.5rem 0}

.p-1 {padding: 1rem}
.p-2 {padding: 2rem}
.p-3 {padding: 3rem}

.btn {
  background: rgb(250, 142, 2);
  color: #fff;
  border-radius: 5px;
}

.btn-dark {
  background:#333;
  color: #fff;
  padding: .5rem 1rem;
  border: none;
}

a:hover {
  background: rgb(202, 118, 8);
  border-radius: 5px;
}

.l-headline {
  font-size: 3rem;
  line-height: 3rem;
}

.m-headline {
  font-size: 1.8rem;
  line-height: 1.7rem;
}

.text-primary {
  color:rgb(250, 142, 2);
}

.text-center {
  text-align: center;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: cornsilk
  color: #333;
}

.bg-primary {
  background: rgb(250, 142, 2);
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: auto;

}

.list {
    list-style: none;
}

.list li {
    border-bottom: #444 dotted 1px ;
} 

#navbar {
  position: sticky;
  top: 0;
}

#navbar .navbar-content {
  background: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-right: 1.5rem;   
}

#navbar h1 {
  padding-left: 1.3rem;
}

#navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#navbar ul li a {
  display: inline-block;
  padding: 1rem;
}

#navbar ul li a:hover {
  background: rgb(250, 142, 2);
  border-radius: 5px;
}

/* showcase */

#showcase {
  background: #111 url('../img/showcase.jpg') no-repeat center center/cover;
  color: #fff;
  height: 100vh;
  width: 100%;
}

#showcase .showcase-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}


#what .container {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  align-items: center;
}

#what .container-2 {
  display: flex;
  justify-content: space-around;
  
}

#what .container-2 i {
  background: rgb(250, 142, 2);
  padding: 1rem 1rem;
  border-radius: 50%;
  
}

#what .what-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#who .who-image {
  background: url('../img/people.jpg') no-repeat center center/cover;
}

#who {
  display: flex;
}

#who div {
  flex: 1;
}

#clients .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clients-logo {
  display: flex;
}

#clients .clients-logo img {
  display: block;
  width: 60%;
  margin: auto;
}

#contact {
  display: flex;
}

#contact .map, #contact .contact-form {
  flex: 1;
}

#contact .form-group {
  margin: .7rem;
}

#contact .form-group label {
  display: block;
}

#contact .form-group input,
#contact .form-group textarea  {
  width: 100%;
  border: none;
  padding: 0.5rem;
}

#contact .map {
  background: url('../img/map2.jpg') no-repeat center center/cover;
}
